/* 
Project Name: Blank Template
Client: Your Client
Author: Your Name
*/

/******************************************
/* COLOURS
/*******************************************/

/* add a list of colours used in the project */

/******************************************
/* SENSIBLE DEFAULTS                   
/*******************************************/
$color:#b5decb;

* {
     box-sizing: border-box;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

/* add type styles here */


/******************************************
/* LAYOUT                   
/*******************************************/


/*slideshow buttons*/



.slideshow-container {
	margin:0;
	padding:0;
}

// .slides {
// 	display:inline;

// }

/******************************************
/* HELPER CLASSES
/*******************************************/

/* Clearfix */
.clearfix:before,
.clearfix:after {
     content: " ";
     display: table;
}
.clearfix:after {
     clear:both;
}

.is-hidden {
     display: none;
}
.is-visible {
     display: block;
}


/******************************************
/* ADDITIONAL STYLES                   
/*******************************************/


@media only screen and (min-width: 500px) {
	img {
		width: 100vw;
	}
	.slick-dots li button:before {
 	color: $color;
 	font-size: 8px;
 	}

	.slick-dots li.slick-active button:before{
	 	color: $color;
	}	

	.slide{
		background-size: cover;
	}	

}




