
@import "slicknav";
@import "core";
@import "normalize";
@import "main";
@import "about";
@import "photography";
@import "slides-home";
@import "home";

@import "nav";


html {
    background-color: #000;
}

a:hover {
    color: $color;
}




